@model HappyMoney.ViewModels.BudgetSummaryViewModel

@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@Model.Name</h1>
            </hgroup>
            <ul>
            @foreach (var env in Model.Envelopes) {
                <li>@env.Name: @env.Balance / @env.Capacity</li>
            }
            </ul>

            <a href="@string.Format("/Budget/{0}", Model.Name.Replace(' ', '-'))">Edit Budget Envelopes</a>
        </div>
    </section>
}