@model HappyMoney.ViewModels.ActiveEnvelopeBalanceSummaryViewModel

@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                Model is @Model.Name.
            </p>
            <ul>
            @foreach (var env in Model.Envelopes) {
                <li>@env.Name: @env.Balance / @env.Capacity</li>
            }
            </ul>
        </div>
    </section>
}